<style>
.carousel-inner {
background-color: [[Farbe]];
background: linear-gradient(to bottom, [[Farbe]], #fff);
}
</style>
<div id="fullscreen" ><script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({
             interval: 0
         })
    });    
</script>
    <div class="bd-slider">
  <div id="carouselslider" class="carousel slide" data-ride="carousel"> 
    <div class="carousel-inner shadow p-3 mb-5 rounded embed-responsive embed-responsive-16by9">
     
<div class="carousel-item active" data-interval="9999999">
              <div class="carousel-caption d-md-block" ><h2 style="background-color:#fff;opacity:1;">[[Thema]]</h2>
          <p class="fitit" style="background-color:#fff;0pacity:1;color:#999">erstellt von<br>##user##</p>
        </div>
      </div>
 <div class="carousel-item" data-interval="[[Folie1]]001">
       [[Bild1]]   
        <div class="carousel-caption d-md-block" >
           <p class="fitit">[[Text1]]</p>    
        </div>
      </div>
      <div class="carousel-item" data-interval="[[Folie2]]001">
 [[Bild2]]                <div class="carousel-caption d-md-block">

        <p class="fitit">[[Text2]]</p>
</svg>
        </div>
      </div>
      <div class="carousel-item" data-interval="[[Folie3]]001">
      [[Bild3]]
        <div class="carousel-caption d-md-block">
                <p class="fitit">[[Text3]]</p>
        </div>
      </div>
<div class="carousel-item" data-interval="[[Folie4]]001">
    [[Bild4]]
        <div class="carousel-caption d-md-block">
                <p class="fitit">[[Text4]]</p>
        </div>
      </div>
<div class="carousel-item" data-interval="[[Folie5]]001">
    [[Bild5]]
        <div class="carousel-caption d-md-block">
          <p class="fitit">[[Text5]]</p>
        </div>
      </div>

<div class="carousel-item" data-interval="[[Folie6]]001">
    [[Bild6]]
        <div class="carousel-caption d-md-block">
               <p class="fitit">[[Text6]]</p>
        </div>
      </div>

<div class="carousel-item" data-interval="[[Folie7]]001">
    [[Bild7]]
        <div class="carousel-caption d-md-block">
                   <p class="fitit">[[Text7]]</p>
        </div>
      </div>

<div class="carousel-item" data-interval="[[Folie8]]001">
    [[Bild8]]
        <div class="carousel-caption d-md-block">
                 <p class="fitit">[[Text8]]</p>
        </div>
      </div>

<div class="carousel-item" data-interval="[[Folie9]]001">
    [[Bild9]]
        <div class="carousel-caption d-md-block">
                 <p class="fitit">[[Text9]]</p>
        </div>
      </div>

<div class="carousel-item" data-interval="[[Folie10]]001">
    [[Bild10]]
        <div class="carousel-caption d-md-block">
                <p class="fitit">[[Text10]]</p>
        </div>
      </div>

</div>
    </div>
  </div>


<br>
<div class="controlslides">
 <a href="#carouselslider" role="button" data-slide="prev">
       <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-backward"></i> </span>
    </a> 

<a href="#carouselslider" role="button" data-slide="next" style="margin-left: 25px">
      <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-forward"></i> </span>
    </a>
  <a href="#carouselslider" role="button" data-slide="next" style="margin-left: 25px">
      <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-play"></i> </span>
    </a> 
<a href="#carouselslider" accesskey="v" onclick="let el = document.getElementById('fullscreen'); el.requestFullscreen();" style="margin-left: 25px" id="expand-icon"><i class="fa fa-expand" aria-hidden="true"></i></a>

<a href="#carouselslider" accesskey="v" onclick="let ex = document.getElementById('fullscreen'); ex.exitFullscreen();" style="margin-left: 25px" id="compress-icon"><i class="fa fa-compress" aria-hidden="true"></i></a>

<script>
const exitBtn = document.getElementById('compress-icon');

exitBtn.addEventListener('click', ()=>{
    if (document.fullscreenElement) {
        document.exitFullscreen();
    }
});</script>



</div>
</div>



<br>##edit## ##delete##
<audio autoplay loop>
  <source src="https://lernplattform.mebis.bayern.de/pluginfile.php/59684082/mod_folder/content/0/[[Musik]].mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio> [[Bild]]