<style>
.bd-slider .carousel-inner {
background-color: [[Farbe]];
background: linear-gradient(to bottom, [[Farbe]], #fff);
}
.fitit {
border-left: 1vw solid [[Farbe]];
    border-right: 1vw solid [[Farbe]];
}

</style>
<script type='text/javascript'>
    $(document).ready(function() {
         $('.carousel').carousel({
             interval: 0
         })
    });    
</script>
<div class="bd-slider  shadow rounded embed-responsive  embed-responsive-16by9" id="bd-slider">
  <div id="carouselslider" class="carousel slide embed-responsive-item" data-ride="carousel" data-pause="false"> 
    <div class="carousel-inner shadow rounded embed-responsive-item">
<div class="carousel-item active embed-responsive-item" data-interval="99999999999" id="firstslide"><div class="capimg">[[Bild]]</div>   
              <div class="carousel-caption d-md-block userlink">
          <h2 style="color: #fff;opacity:1.0;color:[[Farbe]];background-color: rgba(0, 0, 0, 0.8);">[[Thema]]</h2><p class="fitit">erstellt von<br>##user##</p>
        </div>
      </div>
 <div class="carousel-item embed-responsive-item" data-interval="[[Folie1]]001">
       <div class="capimg">[[Bild1]]</div>   
        <div class="carousel-caption d-md-block" >
           <p class="fitit">[[Text1]]</p>    
        </div>
      </div>
      <div class="carousel-item embed-responsive-item" data-interval="[[Folie2]]001">
<div class="capimg">[[Bild2]]</div><div class="carousel-caption d-md-block">

        <p class="fitit">[[Text2]]</p>
</svg>
        </div>
      </div>
      <div class="carousel-item embed-responsive-item" data-interval="[[Folie3]]001">
       <div class="capimg">[[Bild3]]</div>
        <div class="carousel-caption d-md-block">
                <p class="fitit">[[Text3]]</p>
        </div>
      </div>
<div class="carousel-item embed-responsive-item" data-interval="[[Folie4]]001">
     <div class="capimg">[[Bild4]]</div>
        <div class="carousel-caption d-md-block">
                <p class="fitit">[[Text4]]</p>
        </div>
      </div>
<div class="carousel-item embed-responsive-item" data-interval="[[Folie5]]001">
     <div class="capimg">[[Bild5]]</div>
        <div class="carousel-caption d-md-block">
          <p class="fitit">[[Text5]]</p>
        </div>
      </div>

<div class="carousel-item embed-responsive-item" data-interval="[[Folie6]]001">
   <div class="capimg">  [[Bild6]]</div>
        <div class="carousel-caption d-md-block">
               <p class="fitit">[[Text6]]</p>
        </div>
      </div>

<div class="carousel-item embed-responsive-item" data-interval="[[Folie7]]001">
  <div class="capimg">[[Bild7]]</div>
        <div class="carousel-caption d-md-block">
                   <p class="fitit">[[Text7]]</p>
        </div>
      </div>

<div class="carousel-item embed-responsive-item" data-interval="[[Folie8]]001">
    <div class="capimg"> [[Bild8]]</div>
        <div class="carousel-caption d-md-block">
                 <p class="fitit">[[Text8]]</p>
        </div>
      </div>
<div class="carousel-item embed-responsive-item" data-interval="[[Folie9]]001">
     <div class="capimg">[[Bild9]]</div>
        <div class="carousel-caption d-md-block">
                 <p class="fitit">[[Text9]]</p>
        </div>
      </div>
<div class="carousel-item embed-responsive-item" data-interval="[[Folie10]]001">
    <div class="capimg">[[Bild10]]</div>
        <div class="carousel-caption d-md-block">
                <p class="fitit">[[Text10]]</p>
        </div>
      </div>
</div>
</div>

<div class="controlslides">
 <a href="#carouselslider" role="button" data-slide="prev">
       <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-backward"></i> </span>
    </a> 

<a href="#carouselslider" role="button" data-slide="next" style="margin-left: 25px">
      <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-forward"></i> </span>
    </a>
  <a href="#carouselslider" role="button" data-slide="next" data-ride="carousel" style="margin-left: 25px" class="play-btn">
      <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-play"></i> </span>
    </a> 
  </a>
  <a href="#carouselslider" role="button" style="margin-left: 25px" class="pause-btn" data-slide-to="0" onclick="oncereplay()">
      <span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-stop"></i> </span>
    </a> 
<a href="#carouselslider" accesskey="v" onclick="let el = document.getElementById('bd-slider'); el.requestFullscreen();" style="margin-left: 25px" id="expand-icon"><span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-expand" aria-hidden="true"></i></span></a>

<a href="#carouselslider" accesskey="v" onclick="let ex = document.getElementById('fullscreen'); ex.exitFullscreen();" style="margin-left: 25px" id="compress-icon"><span style="color:#00a8d5;font-size: 1.2em;"><i class="fa fa-compress" aria-hidden="true"></i></span></a>

 <a type="button" onclick="stillreplay()" class="rotate-icon" style="margin-left: 25px"><i class="fa fa-repeat" aria-hidden="true" class="rotate-icon" style="color:grey"></i></a>
 <a type="button"  onclick="oncereplay()" class="replay-icon" style="margin-left: 25px;color:#00a8d5;display: none"><i class="fa fa-repeat" aria-hidden="true" class="replay-icon"></i></a>

<script>
const exitBtn = document.getElementById('compress-icon');

exitBtn.addEventListener('click', ()=>{
    if (document.fullscreenElement) {
        document.exitFullscreen();
    }
});</script>
</div>
</div>
<br>##edit## ##delete##
</a>

<script>
const playBtn = document.querySelector('.play-btn');
const pauseBtn = document.querySelector('.pause-btn');
const audio = new Audio();
function playAudio() {
  audio.src = 'https://lernplattform.mebis.bayern.de/pluginfile.php/59684082/mod_folder/content/0/[[Musik]].mp3';
  audio.currentTime = 0;
  audio.play();
}
function pauseAudio() {
  audio.pause();
}
playBtn.addEventListener('click', playAudio);
pauseBtn.addEventListener('click', pauseAudio);
</script>

<script>
function stillreplay() {
 document.getElementById("firstslide").setAttribute("data-interval", "2000"); 
document.getElementsByClassName("rotate-icon")[0].style.display = "none";
document.getElementsByClassName("replay-icon")[0].style.display = "inline";
}
</script>

<script>
function oncereplay() {
document.getElementById("firstslide").setAttribute("data-interval", "99999999999"); 
document.getElementsByClassName("rotate-icon")[0].style.display = "inline";
document.getElementsByClassName("replay-icon")[0].style.display = "none";
}
</script>




